Repository Kalk88/GrowBud, changes with the labels that .github/labeler.yml gives for each.
All labels: client, data-store, cloud-functions, documentation, actions

fix: 🐛 Missing module that didnt get copied to docker container (#140)
  server/data-store/Dockerfile
Labels: data-store

feat: 🎸 Fancy new color scheme suited for 2020 (Gradients Rule)
  client/public/index.html
  client/src/App.vue
  client/src/components/LoggedinToolbar.vue
  client/src/components/LoggedoutToolbar.vue
  client/src/scss/variables.scss
  client/src/views/AddWateringSchedule.vue
Labels: client

Update client-deploy.yml
  .github/workflows/client-deploy.yml
Labels: actions

feat: 🎸 Fancy new color scheme suited for 2020 (Gradients Rule) (#143)
  client/public/index.html
  client/src/App.vue
  client/src/components/LoggedinToolbar.vue
  client/src/components/LoggedoutToolbar.vue
  client/src/scss/variables.scss
  client/src/views/AddWateringSchedule.vue
Labels: client

style: 💄 redesign addwateringschedule view as mobile first
  client/src/App.vue
  client/src/components/IncrementerButton.vue
  client/src/components/LoggedinToolbar.vue
  client/src/components/LoggedoutToolbar.vue
  client/src/components/TimePicker.vue
  client/src/scss/globals.scss
  client/src/scss/variables.scss
  client/src/views/AddWateringSchedule.vue
Labels: client

Update client-deploy.yml
  .github/workflows/client-deploy.yml
Labels: actions

style: 💄 redesign addwateringschedule view as mobile first (#144)
  client/src/App.vue
  client/src/components/IncrementerButton.vue
  client/src/components/LoggedinToolbar.vue
  client/src/components/LoggedoutToolbar.vue
  client/src/components/TimePicker.vue
  client/src/scss/globals.scss
  client/src/scss/variables.scss
  client/src/views/AddWateringSchedule.vue
Labels: client

refactor: make logging functional
  server/data-store/src/deviceTokens/route.ts
  server/data-store/src/logging/index.ts
Labels: data-store

style: 💄 Added mobilefirst styling to watering schedule cards
  client/public/index.html
  client/src/api/wateringschedule/index.js
  client/src/components/LoggedinToolbar.vue
  client/src/components/LoggedoutToolbar.vue
  client/src/components/MyWateringScheduleCard.vue
  client/src/components/SignupModal.vue
  client/src/scss/globals.scss
  client/src/scss/variables.scss
  client/src/views/AddWateringSchedule.vue
  client/src/views/MyWateringSchedules.vue
Labels: client

feat: 🎸 New home screen and merged into one toolbar
  client/public/index.html
  client/src/App.vue
  client/src/components/AuthButtonsAndModals.vue
  client/src/components/LoggedoutToolbar.vue
  client/src/components/LoginModal.vue
  client/src/components/SignupModal.vue
  client/src/components/Toolbar.vue
  client/src/views/Home.vue
Labels: client

Feat/new home screen (#147)
  client/public/index.html
  client/src/App.vue
  client/src/api/wateringschedule/index.js
  client/src/components/AuthButtonsAndModals.vue
  client/src/components/LoggedinToolbar.vue
  client/src/components/LoggedoutToolbar.vue
  client/src/components/LoginModal.vue
  client/src/components/MyWateringScheduleCard.vue
  client/src/components/SignupModal.vue
  client/src/components/Toolbar.vue
  client/src/scss/globals.scss
  client/src/scss/variables.scss
  client/src/views/AddWateringSchedule.vue
  client/src/views/Home.vue
  client/src/views/MyWateringSchedules.vue
Labels: client

style: 💄 Adding missing styling for authbuttons
  client/src/components/AuthButtonsAndModals.vue
Labels: client

style: 💄 Adding missing styling for authbuttons (#148)
  client/src/components/AuthButtonsAndModals.vue
Labels: client

feat: 🎸 first mobile desing of auth modals v1
  client/public/index.html
  client/src/components/AuthButtonsAndModals.vue
  client/src/components/LoginModal.vue
  client/src/components/MyWateringScheduleCard.vue
  client/src/components/SignupModal.vue
  client/src/components/TimePicker.vue
  client/src/components/Toolbar.vue
  client/src/scss/globals.scss
  client/src/scss/variables.scss
  client/src/views/AddWateringSchedule.vue
  server/data-store/growbud-developer.app.yaml
Labels: client, data-store

feat: 🎸 first mobile desing of auth modals v1 (#149)
  client/public/index.html
  client/src/components/AuthButtonsAndModals.vue
  client/src/components/LoginModal.vue
  client/src/components/MyWateringScheduleCard.vue
  client/src/components/SignupModal.vue
  client/src/components/TimePicker.vue
  client/src/components/Toolbar.vue
  client/src/scss/globals.scss
  client/src/scss/variables.scss
  client/src/views/AddWateringSchedule.vue
  server/data-store/growbud-developer.app.yaml
Labels: client, data-store

Delete growbud-developer.app.yaml
  server/data-store/growbud-developer.app.yaml
Labels: data-store

fix: 🐛 Deploy to data-store on merge
  .github/workflows/data-store-deploy.yml
  server/data-store/example.app.yaml
Labels: data-store, actions

fix: 🐛 file naming
  .github/workflows/data-store-deploy.yml
Labels: actions

fix: 🐛 Deploy to data-store on merge (#151)
  .github/workflows/data-store-deploy.yml
  server/data-store/example.app.yaml
Labels: data-store, actions

Delete growbud-developer.app.yaml (#150)
  server/data-store/growbud-developer.app.yaml
Labels: data-store

feat: 🎸 Add profile view with allownotifications button
  client/src/api/auth/index.js
  client/src/components/LoginModal.vue
  client/src/components/Toolbar.vue
  client/src/main.js
  client/src/router.js
  client/src/scss/globals.scss
  client/src/views/Profile.vue
Labels: client

feat: 🎸 Add profile view with allownotifications button (#155)
  client/src/api/auth/index.js
  client/src/components/LoginModal.vue
  client/src/components/Toolbar.vue
  client/src/main.js
  client/src/router.js
  client/src/scss/globals.scss
  client/src/views/Profile.vue
Labels: client

fix: 🐛 Add asynchrounus loading based on the presence of JWT
  client/src/main.js
  client/src/store.js
  client/src/views/AddWateringSchedule.vue
  client/src/views/MyWateringSchedules.vue
Labels: client

chore: 🤖 move to top level firebase configuration
  .firebaserc
  .github/workflows/client-ci.yml
  .github/workflows/client-deploy.yml
  README.md
  client/.firebaserc
  client/firebase.json
  firebase.json
  firestore.indexes.json
  firestore.rules
  server/cloud-functions/.firebaserc
  server/cloud-functions/.gitignore
  server/cloud-functions/firebase.json
  server/cloud-functions/functions/package.json
  server/functions/.gitignore
  server/functions/src/index.ts
  server/functions/tsconfig.json
  server/functions/tslint.json
Labels: client, cloud-functions, actions

update path
  .github/workflows/node-audit.yml
Labels: actions

fix: 🐛 Add asynchrounus loading based on the presence of JWT (#156)
  client/src/main.js
  client/src/store.js
  client/src/views/AddWateringSchedule.vue
  client/src/views/MyWateringSchedules.vue
Labels: client

force add missing package.json
  server/functions/package.json
Labels: none

Update readme
  README.md
Labels: none

feat: 🎸 Reduce heavy usage of dark color
  client/src/components/LoginModal.vue
  client/src/components/SignupModal.vue
  client/src/components/Toolbar.vue
  client/src/scss/globals.scss
  client/src/scss/variables.scss
Labels: client

update path
  .github/workflows/node-audit.yml
Labels: actions

chore: 🤖 move to top level firebase configuration
  .firebaserc
  .github/workflows/client-ci.yml
  .github/workflows/client-deploy.yml
  README.md
  client/.firebaserc
  client/firebase.json
  firebase.json
  firestore.indexes.json
  firestore.rules
  server/cloud-functions/.firebaserc
  server/cloud-functions/.gitignore
  server/cloud-functions/firebase.json
  server/cloud-functions/functions/package.json
  server/functions/.gitignore
  server/functions/src/index.ts
  server/functions/tsconfig.json
  server/functions/tslint.json
Labels: client, cloud-functions, actions

Update readme
  README.md
Labels: none

force add missing package.json
  server/functions/package.json
Labels: none

feat: 🎸 Reduce heavy usage of dark color (#159)
  client/src/components/LoginModal.vue
  client/src/components/SignupModal.vue
  client/src/components/Toolbar.vue
  client/src/scss/globals.scss
  client/src/scss/variables.scss
Labels: client

feat: 🎸 Add install script for client and server
  install.sh
Labels: none

feat: 🎸 update readme with first time setup instructions
  README.md
Labels: none

chore: 🤖 Add firebase serve script
  README.md
  client/package.json
  firebase_serve.sh
Labels: client

feat: 🎸 split notfications code from functions folder
  firebase_serve.sh
  install.sh
  server/functions/.gitignore
  server/functions/package.json
  server/functions/src/index.js
  server/functions/tslint.json
  server/notifications/.gitignore
  server/notifications/src/index.ts
  server/notifications/tsconfig.json
Labels: none

feat: 🎸 Serve data-store from cloud-functions
  server/data-store/.gcloudignore
  server/data-store/app.yaml
  server/data-store/src/deviceTokens/route.ts
  server/data-store/src/express-helpers.ts
  server/data-store/src/index.ts
  server/functions/src/index.js
Labels: data-store

style: 💄 add standard as linter to server/functions
  server/functions/package.json
  server/functions/src/index.js
Labels: none

.github/labeler.yml:

client:
  - client/**

data-store:
  - server/data-store/**

cloud-functions:
  - server/cloud-functions/**

documentation:
  - documentation/**

actions:
  - .github/**
