Repository Kalk88/GrowBud, changes with the labels that .github/labeler.yml gives for each.
All labels: client, data-store, cloud-functions, documentation, actions

.github/labeler.yml:

client:
  - client/**

data-store:
  - server/data-store/**

cloud-functions:
  - server/cloud-functions/**

documentation:
  - documentation/**

actions:
  - .github/**

feat: 🎸 Align behaviour and color of buttons in the app
  client/src/components/AuthButtonsAndModals.vue
  client/src/components/IncrementerButton.vue
  client/src/components/MyWateringScheduleCard.vue
  client/src/components/Toolbar.vue
  client/src/scss/globals.scss
  client/src/scss/variables.scss
  client/src/views/AddWateringSchedule.vue
  client/src/views/MyWateringSchedules.vue
Labels: client

feat: 🎸 Align behaviour and color of buttons in the app
  client/src/components/AuthButtonsAndModals.vue
  client/src/components/IncrementerButton.vue
  client/src/components/MyWateringScheduleCard.vue
  client/src/components/Toolbar.vue
  client/src/scss/globals.scss
  client/src/scss/variables.scss
  client/src/views/AddWateringSchedule.vue
  client/src/views/MyWateringSchedules.vue
Labels: client

docs: ✏️ Authenctication logout route
  documentation/API/api.yaml
Labels: documentation

docs: ✏️ Jwt authentication scheme definition
  documentation/API/api.yaml
Labels: documentation

docs: ✏️ add Authentication token header definition
  documentation/API/api.yaml
Labels: documentation

docs: ✏️ login route
  documentation/API/api.yaml
Labels: documentation

docs: ✏️ Add refresh token route
  documentation/API/api.yaml
Labels: documentation

chore: 🤖 add docs bundler
  documentation/API/.gitignore
  documentation/API/README.md
  documentation/API/package-lock.json
  documentation/API/package.json
Labels: documentation

docs: ✏️ add summary to auth routes
  documentation/API/api.yaml
Labels: documentation

docs: ✏️ register device token api
  documentation/API/api.yaml
Labels: documentation

docs: ✏️ remove device token route
  documentation/API/api.yaml
Labels: documentation

refactor: make logging functional
  server/data-store/src/deviceTokens/route.ts
  server/data-store/src/logging/index.ts
Labels: data-store
