Repository Kalk88/GrowBud, changes with the labels that .github/labeler.yml gives for each.
All labels: client, data-store, cloud-functions, documentation, actions

refactor: 💡 Move firebase service worker to public folder (#121)
  client/public/firebase-messaging-sw.js
  client/src/registerServiceWorker.js
  client/vue.config.js
Labels: client

test(helpers): add tests for retrieving schedules less than given timestamp
  server/cloud-functions/functions/helpers.js
  server/cloud-functions/functions/helpers.test.js
  server/cloud-functions/functions/index.js
Labels: cloud-functions

docs(helpers): update docs
  server/cloud-functions/functions/helpers.js
  server/cloud-functions/functions/helpers.test.js
Labels: cloud-functions

refactor(index): remove unused import and rename local variable
  server/cloud-functions/functions/index.js
Labels: cloud-functions

chore(production): add growbud production alias to firebase
  server/cloud-functions/.firebaserc
Labels: cloud-functions

Wip
  server/cloud-functions/functions/helpers.js
  server/cloud-functions/functions/helpers.test.js
  server/cloud-functions/functions/index.js
  server/cloud-functions/functions/index.test.js
Labels: cloud-functions

ci: 🎡 Add firebase environment aliases
  client/.firebaserc
Labels: client

chore: 🤖 add master env firebasealias :lit
  server/cloud-functions/.firebaserc
Labels: cloud-functions

ci: deploy to master on merge
  .github/workflows/client-deploy.yml
Labels: actions

ci: deploy to master on merge (#125)
  .github/workflows/client-deploy.yml
Labels: actions

ci: 🎡 Add firebase environment aliases (#124)
  client/.firebaserc
Labels: client

feat: 🎸 add sw for offline caching
  client/src/registerServiceWorker.js
  client/src/sw.js
  client/vue.config.js
Labels: client

Update client-deploy.yml
  .github/workflows/client-deploy.yml
Labels: actions

feat: 🎸 add sw for offline caching (#122)
  client/src/registerServiceWorker.js
  client/src/sw.js
  client/vue.config.js
Labels: client

Update client-deploy.yml
  .github/workflows/client-deploy.yml
Labels: actions

wip3
  server/cloud-functions/functions/helpers.js
  server/cloud-functions/functions/helpers.test.js
  server/cloud-functions/functions/index.js
  server/cloud-functions/functions/index.test.js
Labels: cloud-functions

feat: 🎸 Update schedules
  server/cloud-functions/.firebaserc
  server/cloud-functions/.gitignore
  server/cloud-functions/firebase.json
  server/cloud-functions/functions/.gitignore
  server/cloud-functions/functions/src/index.ts
  server/cloud-functions/functions/tsconfig.json
  server/cloud-functions/functions/tslint.json
Labels: cloud-functions

chore: 🤖 Add package.json
  server/cloud-functions/functions/package.json
Labels: cloud-functions

chore: 🤖 Add firebase aliases for environments
  server/cloud-functions/.firebaserc
Labels: cloud-functions

fix: 🐛 spelling error
  server/cloud-functions/functions/src/index.ts
Labels: cloud-functions

fix: 🐛 missing comma in firebaserc
  server/cloud-functions/.firebaserc
Labels: cloud-functions

feat: 🎸 update client pwa name, start_url and display
  client/vue.config.js
Labels: client

fix: 🐛 add options under correct key
  client/vue.config.js
Labels: client

fix(index): circular stringify error
  server/data-store/src/index.ts
Labels: data-store

fix(index): circular stringify error (#129)
  server/data-store/src/index.ts
Labels: data-store

fix(error handling): catch token decode errors
  server/data-store/src/lib/auth/index.ts
  server/data-store/src/schema/index.ts
Labels: data-store

fix(path): fix wrong import path
  server/data-store/src/lib/auth/index.ts
Labels: data-store

fix(error handling): catch token decode errors (#130)
  server/data-store/src/lib/auth/index.ts
  server/data-store/src/schema/index.ts
Labels: data-store

feat: 🎸 read JWT from store
  client/src/api/notifications/index.js
Labels: client

feat: 🎸 Update device token when refreshed by firebase
  client/src/api/notifications/index.js
Labels: client

feat: 🎸 Register device token on messaging getToken
  client/src/api/notifications/index.js
Labels: client

feat: 🎸 Update schedules (#126)
  server/cloud-functions/.firebaserc
  server/cloud-functions/.gitignore
  server/cloud-functions/firebase.json
  server/cloud-functions/functions/.gitignore
  server/cloud-functions/functions/package.json
  server/cloud-functions/functions/src/index.ts
  server/cloud-functions/functions/tsconfig.json
  server/cloud-functions/functions/tslint.json
Labels: cloud-functions

refactor: add device token via json over http
  server/data-store/src/index.ts
  server/data-store/src/lib/auth/index.ts
  server/data-store/src/lib/http/index.ts
  server/data-store/src/schema/index.ts
Labels: data-store

refactor: 💡 register device token through json over http
  client/src/api/notifications/index.js
  client/src/components/LoginModal.vue
  client/src/main.js
Labels: client

refactor: 💡 get auth token from store
  client/src/api/notifications/index.js
  client/src/components/LoginModal.vue
Labels: client

fix: 🐛 add store to notifications
  client/src/api/notifications/index.js
Labels: client

fix: 🐛 lint errors
  client/src/api/notifications/index.js
  client/src/components/LoginModal.vue
Labels: client

feat: 🎸 update client pwa name, start_url and display (#128)
  client/vue.config.js
Labels: client

Update client-deploy.yml
  .github/workflows/client-deploy.yml
Labels: actions

Update node-audit.yml
  .github/workflows/node-audit.yml
Labels: actions

.github/labeler.yml:

client:
  - client/**

data-store:
  - server/data-store/**

cloud-functions:
  - server/cloud-functions/**

documentation:
  - documentation/**

actions:
  - .github/**
