Repository Kalk88/GrowBud, changes with the labels that .github/labeler.yml gives for each.
All labels: client, data-store, cloud-functions, documentation, actions

.github/labeler.yml:

client:
  - client/**

data-store:
  - server/data-store/**

cloud-functions:
  - server/cloud-functions/**

documentation:
  - documentation/**

actions:
  - .github/**

Delete package-lock.json
  package-lock.json
Labels: none

docs: ✏️ Update documentation for interval
  server/data-store/src/schema/index.ts
Labels: data-store

move this
  server/data-store/src/lib/pushNotifcationToken/index.ts
Labels: data-store

feat: 🎸 Register device token
  server/data-store/src/schema/index.ts
Labels: data-store

WIP
  server/data-store/src/lib/pushNotifcationToken/index.ts
  server/data-store/src/schema/index.ts
Labels: data-store

ci: 🎡 Check node v10 in npm audit
  .github/workflows/node-audit.yml
Labels: actions

feat: 🎸 Trigger watering schedules notifications
  .github/workflows/trigger-schedules.yml
Labels: actions

fix: 🐛 Invalid cron job syntax
  .github/workflows/trigger-schedules.yml
Labels: actions

fix: update array of devices if exists
  server/data-store/src/lib/pushNotifcationToken/index.ts
  server/data-store/src/schema/index.ts
Labels: data-store

Update trigger-schedules.yml
  .github/workflows/trigger-schedules.yml
Labels: actions

feat: 🎸 Trigger watering schedules notifications (#110)
  .github/workflows/trigger-schedules.yml
Labels: actions

ci: 🎡 Check node v10 in npm audit (#109)
  .github/workflows/node-audit.yml
Labels: actions

docs: ✏️ Update documentation for interval (#108)
  server/data-store/src/schema/index.ts
Labels: data-store

Delete package-lock.json (#105)
  package-lock.json
Labels: none

Update .gitignore
  .gitignore
Labels: none

Fix watering schedule double read (#101)
  server/data-store/src/lib/wateringSchedules/index.ts
  server/data-store/src/schema/index.ts
Labels: data-store

register push notification token (#97)
  server/data-store/src/lib/pushNotifcationToken/index.ts
  server/data-store/src/schema/index.ts
Labels: data-store

Update .gitignore (#111)
  .gitignore
Labels: none

Add snackbar notification on schedule mutation
  client/src/App.vue
  client/src/views/AddWateringSchedule.vue
  client/src/views/MyWateringSchedules.vue
Labels: client

improvement(logging): improve logging of incomming requests
  server/data-store/package-lock.json
  server/data-store/package.json
  server/data-store/src/index.ts
  server/data-store/src/logging/index.ts
  server/data-store/src/schema/index.ts
Labels: data-store

Add snackbar notification on schedule mutation (#112)
  client/src/App.vue
  client/src/views/AddWateringSchedule.vue
  client/src/views/MyWateringSchedules.vue
Labels: client

improvement(logging): improve logging of incomming requests (#115)
  server/data-store/package-lock.json
  server/data-store/package.json
  server/data-store/src/index.ts
  server/data-store/src/logging/index.ts
  server/data-store/src/schema/index.ts
Labels: data-store

style: 💄 Add newline to end of index.js
  server/cloud-functions/functions/index.js
Labels: cloud-functions

map over all tokens
  server/cloud-functions/functions/index.js
Labels: cloud-functions

Add scrollIntoView for the chosen time in timepicker
  client/src/components/TimePicker.vue
Labels: client

Add .env.example for client
  client/.env.example
  client/.gitignore
Labels: client

Add .env.example for client (#118)
  client/.env.example
  client/.gitignore
Labels: client

feat: 🎸 Update pwa manifest
  client/vue.config.js
Labels: client

chore: 🤖 Move nightwatch to dev dependencies
  client/package-lock.json
  client/package.json
Labels: client

refactor: 💡 firestore get/set functions to curried functions
  server/cloud-functions/functions/index.js
Labels: cloud-functions

chore: 🤖 Move nightwatch to dev dependencies (#119)
  client/package-lock.json
  client/package.json
Labels: client

test(helpers): test retrieveDeviceTokens when tokens exists
  server/cloud-functions/functions/helpers.js
  server/cloud-functions/functions/index.js
  server/cloud-functions/functions/index.test.js
Labels: cloud-functions

Add scrollIntoView for the chosen time in timepicker (#117)
  client/src/components/TimePicker.vue
Labels: client

refactor(test): rename indext.test.js to helpers.test.js
  server/cloud-functions/functions/helpers.test.js
Labels: cloud-functions

test(helpers): add tests for retrieveDeviceTokens
  server/cloud-functions/functions/helpers.test.js
Labels: cloud-functions

Add validation to wateringSchedule
  client/src/scss/globals.scss
  client/src/scss/variables.scss
  client/src/views/AddWateringSchedule.vue
  client/vue.config.js
Labels: client

Add validation to wateringSchedule (#116)
  client/src/scss/globals.scss
  client/src/scss/variables.scss
  client/src/views/AddWateringSchedule.vue
  client/vue.config.js
Labels: client

refactor: 💡 change start_url in manifest.json
  client/src/views/Home.vue
  client/vue.config.js
Labels: client

refactor: 💡 Move firebase service worker to public folder
  client/public/firebase-messaging-sw.js
  client/src/registerServiceWorker.js
  client/vue.config.js
Labels: client

refactor: 💡 Move firebase service worker to public folder
  client/vue.config.js
Labels: client
