Repository Kalk88/GrowBud, changes with the labels that .github/labeler.yml gives for each.
All labels: client, data-store, cloud-functions, documentation, actions

.github/labeler.yml:

client:
  - client/**

data-store:
  - server/data-store/**

cloud-functions:
  - server/cloud-functions/**

documentation:
  - documentation/**

actions:
  - .github/**

feat: 🎸 Register device token on messaging getToken (#123)
  client/src/api/notifications/index.js
  client/src/components/LoginModal.vue
  client/src/main.js
  server/data-store/src/index.ts
  server/data-store/src/lib/auth/index.ts
  server/data-store/src/lib/http/index.ts
  server/data-store/src/schema/index.ts
Labels: client, data-store

Update client-deploy.yml
  .github/workflows/client-deploy.yml
Labels: actions

feat(device tokens): add delete device token route
  server/data-store/express-helpers.ts
  server/data-store/src/deviceTokens/index.ts
  server/data-store/src/deviceTokens/route.ts
  server/data-store/src/index.ts
  server/data-store/src/lib/pushNotifcationToken/index.ts
Labels: data-store

docs: ✏️ deviceTokens api documentation
  documentation/API/api.yaml
Labels: documentation

fix(device tokens): spelling
  server/data-store/express-helpers.ts
  server/data-store/src/deviceTokens/route.ts
  server/data-store/src/lib/pushNotificationToken/index.ts
Labels: data-store

fix(route): add missing /
  server/data-store/src/index.ts
Labels: data-store

Store deviceToken as object
  server/data-store/src/lib/pushNotificationToken/index.ts
Labels: data-store

Store several tokens
  server/data-store/src/lib/pushNotificationToken/index.ts
Labels: data-store

Update data-store-deploy.yml
  .github/workflows/data-store-deploy.yml
Labels: actions

feat: 🎸 pubsub topic for push notifications
  server/cloud-functions/functions/src/index.ts
Labels: cloud-functions

Find device tokens
  server/cloud-functions/functions/src/index.ts
Labels: cloud-functions

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: actions

Update PULL_REQUEST_TEMPLATE.md (#132)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: actions

feat: 🎸 Put push notification message on queue
  server/cloud-functions/functions/package.json
  server/cloud-functions/functions/src/index.ts
Labels: cloud-functions

feat: 🎸 add remove schedule button in updatewateringschedule vy
  client/src/api/wateringschedule/index.js
  client/src/views/AddWateringSchedule.vue
Labels: client

feat: 🎸 add remove schedule button in updatewateringschedule vy (#134)
  client/src/api/wateringschedule/index.js
  client/src/views/AddWateringSchedule.vue
Labels: client

ci: 🎡 Add node types to project
  server/cloud-functions/functions/package.json
  server/cloud-functions/functions/tsconfig.json
Labels: cloud-functions

Update client-deploy.yml
  .github/workflows/client-deploy.yml
Labels: actions

Update client-deploy.yml (#135)
  .github/workflows/client-deploy.yml
Labels: actions

feat: 🎸 login on enter
  client/src/components/LoginModal.vue
Labels: client

fix: 🐛 madlad spelling error
  server/cloud-functions/functions/src/index.ts
Labels: cloud-functions

feat: 🎸 login on enter (#136)
  client/src/components/LoginModal.vue
Labels: client

feat: devicetoken lifecycle (#131)
  documentation/API/api.yaml
  server/data-store/express-helpers.ts
  server/data-store/src/deviceTokens/index.ts
  server/data-store/src/deviceTokens/route.ts
  server/data-store/src/index.ts
  server/data-store/src/lib/pushNotifcationToken/index.ts
  server/data-store/src/lib/pushNotificationToken/index.ts
Labels: data-store, documentation

Update client-deploy.yml
  .github/workflows/client-deploy.yml
Labels: actions

Send push
  server/cloud-functions/functions/src/index.ts
Labels: cloud-functions

feat: 🎸 display title and text sent from notification
  client/public/firebase-messaging-sw.js
Labels: client

refactor: 💡 move watering schedules to separate folder
  server/data-store/src/schema/index.ts
  server/data-store/src/schema/types/index.ts
  server/data-store/src/wateringSchedules/index.ts
Labels: data-store

feat: push schedule notice (#133)
  server/cloud-functions/functions/package.json
  server/cloud-functions/functions/src/index.ts
  server/cloud-functions/functions/tsconfig.json
Labels: cloud-functions

Update .gitignore
  .gitignore
Labels: none

feat: 🎸 add deploy all script
  deploy_all.sh
  server/data-store/example.app.yaml
  server/data-store/master.app.yaml
  server/data-store/package.json
Labels: data-store

fix: 🐛 unnessecary echo
  deploy_all.sh
Labels: none

ci: 🎡 update data-store to only be pushed to master environment
  .github/workflows/data-store-ci.yml
  .github/workflows/data-store-deploy.yml
Labels: actions

fix: 🐛 replacing text in wrong files
  .github/workflows/data-store-deploy.yml
  deploy_all.sh
Labels: actions

fix: remove master.app.yaml
  server/data-store/master.app.yaml
Labels: data-store

Add firebase api key argument
  deploy_all.sh
Labels: none

fix: 🐛 typo
  deploy_all.sh
Labels: none

docs: ✏️ add setup dev environment docs
  documentation/dev-environment.md
Labels: documentation

fix: 🐛 Missing module that didnt get copied to docker container
  server/data-store/Dockerfile
Labels: data-store

feat: 🎸 display title and text sent from notification (#137)
  client/public/firebase-messaging-sw.js
Labels: client

feat: 🎸 add kalk88 dev environment
  client/.firebaserc
  documentation/dev-environment.md
  server/cloud-functions/.firebaserc
Labels: client, cloud-functions, documentation
