Repository Kalk88/GrowBud, changes with the labels that .github/labeler.yml gives for each.
All labels: client, data-store, cloud-functions, documentation, actions

chore: 🤖 update firebase_serve.sh
  firebase_serve.sh
Labels: none

chore: 🤖 update install.sh
  install.sh
Labels: none

feat: 🎸 serve data-store from cloud functions
  firebase.json
  firebase_serve.sh
  install.sh
  server/data-store/src/lib/firebaseClient/index.ts
  server/functions/.gitignore
  server/functions/package.json
  server/functions/src/index.js
Labels: data-store

feat: 🎸 add firebase deploy clean-up
  .gitignore
  firebase.json
  firebase_serve.sh
  server/functions/src/index.js
Labels: none

fix: 🐛 Add missing package.json files
  .gitignore
  server/functions/package-lock.json
  server/notifications/package-lock.json
  server/notifications/package.json
Labels: none

fix: 🐛 add missing dependency
  server/notifications/package.json
Labels: none

feat: 🎸 ci test for notifications feature
  .github/workflows/notifications-ci.yml
  server/notifications/package.json
Labels: actions

chore: 🤖 correct name of job in notifications ci
  .github/workflows/notifications-ci.yml
Labels: actions

chore: 🤖 rename job in client ci
  .github/workflows/client-ci.yml
Labels: actions

fix: 🐛 Add missing package.json files
  .gitignore
  server/functions/package-lock.json
  server/notifications/package-lock.json
  server/notifications/package.json
Labels: none

feat: 🎸 ci test for notifications feature
  .github/workflows/notifications-ci.yml
  server/notifications/package.json
Labels: actions

feat: 🎸 add firebase deploy clean-up
  .gitignore
  firebase.json
  firebase_serve.sh
  server/functions/src/index.js
Labels: none

fix: 🐛 add missing dependency
  server/notifications/package.json
Labels: none

style: 💄 add standard as linter to server/functions
  server/functions/package.json
  server/functions/src/index.js
Labels: none

chore: 🤖 correct name of job in notifications ci
  .github/workflows/notifications-ci.yml
Labels: actions

feat: 🎸 Serve data-store from cloud-functions
  server/data-store/.gcloudignore
  server/data-store/app.yaml
  server/data-store/src/deviceTokens/route.ts
  server/data-store/src/express-helpers.ts
  server/data-store/src/index.ts
  server/functions/src/index.js
Labels: data-store

feat: 🎸 serve data-store from cloud functions
  firebase.json
  firebase_serve.sh
  install.sh
  server/data-store/src/lib/firebaseClient/index.ts
  server/functions/.gitignore
  server/functions/package.json
  server/functions/src/index.js
Labels: data-store

feat: 🎸 Add install script for client and server
  install.sh
Labels: none

chore: 🤖 rename job in client ci
  .github/workflows/client-ci.yml
Labels: actions

chore: 🤖 update install.sh
  install.sh
Labels: none

chore: 🤖 update firebase_serve.sh
  firebase_serve.sh
Labels: none

feat: 🎸 update readme with first time setup instructions
  README.md
Labels: none

feat: 🎸 split notfications code from functions folder
  firebase_serve.sh
  install.sh
  server/functions/.gitignore
  server/functions/package.json
  server/functions/src/index.js
  server/functions/tslint.json
  server/notifications/.gitignore
  server/notifications/src/index.ts
  server/notifications/tsconfig.json
Labels: none

chore: 🤖 Add firebase serve script
  README.md
  client/package.json
  firebase_serve.sh
Labels: client

chore: 🤖 Move types dependencies for some libs to dev deps
  server/data-store/package.json
Labels: data-store

chore: 🤖 track server package-lock.json files
  server/data-store/package-lock.json
  server/functions/package-lock.json
  server/notifications/package-lock.json
Labels: data-store

chore: 🤖 test on node 10 since that's whats used in production
  .github/workflows/data-store-ci.yml
Labels: actions

ci: 🎡 deploy data-store to firebase on merge to master
  .github/workflows/data-store-deploy.yml
Labels: actions

ci: 🎡 remove app engine app yaml
  server/data-store/example.app.yaml
Labels: data-store

ci: 🎡 deploy client to firebase with token
  .github/workflows/client-deploy.yml
Labels: actions

chore: 🤖 test on node 10 since that's whats used in production
  .github/workflows/data-store-ci.yml
Labels: actions

ci: 🎡 install server dependencies before deploy
  .github/workflows/data-store-deploy.yml
  install-client.sh
  install-server.sh
Labels: actions

ci: 🎡 deploy data-store to firebase on merge to master
  .github/workflows/data-store-deploy.yml
Labels: actions

ci: 🎡 install server dependencies before deploy
  .github/workflows/data-store-deploy.yml
  install-client.sh
  install-server.sh
Labels: actions

ci: 🎡 remove app engine app yaml
  server/data-store/example.app.yaml
Labels: data-store

chore: 🤖 track server package-lock.json files
  server/data-store/package-lock.json
  server/functions/package-lock.json
  server/notifications/package-lock.json
Labels: data-store

chore: 🤖 Move types dependencies for some libs to dev deps
  server/data-store/package.json
Labels: data-store

ci: 🎡 deploy client to firebase with token
  .github/workflows/client-deploy.yml
Labels: actions

chore: 🤖 install client using script
  .github/workflows/client-deploy.yml
Labels: actions

ci: 🎡 deploy client to firebase with token (#168)
  .github/workflows/client-deploy.yml
Labels: actions

.github/labeler.yml:

client:
  - client/**

data-store:
  - server/data-store/**

cloud-functions:
  - server/cloud-functions/**

documentation:
  - documentation/**

actions:
  - .github/**
