Repository Kalk88/GrowBud, pull requests merged in 2019-11, with the labels that each got.

#41 Feature/cheapskate backend
  .github/workflows/data-store-deploy.yml
  docker-compose.yml
  server/data-store/.gcloudignore
  server/data-store/.gitignore
  server/data-store/Dockerfile
  server/data-store/README.md
  server/data-store/app.yaml
  server/data-store/package-lock.json
  server/data-store/package.json
  server/data-store/src/index.ts
  server/data-store/src/lib/auth/index.ts
  server/data-store/src/schema/index.ts
  server/data-store/tsconfig.json
Labels: RELEASE THE KRAKEN!

#40 Describe types with the Graphql type system
  documentation/types.gql
Labels: Discuss, documentation

#44 Bump to typescript 3.7
  server/data-store/package-lock.json
  server/data-store/package.json
Labels: RELEASE THE KRAKEN!

#48 Create label.yml
  .github/labeler.yml
  .github/workflows/label.yml
Labels: actions

#47 Update data-store-ci.yml
  .github/workflows/data-store-ci.yml
Labels: bug

#49 Add PR_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
Labels: actions

#46 Feature/watering schedule
  server/data-store/package-lock.json
  server/data-store/package.json
  server/data-store/src/lib/auth/index.ts
  server/data-store/src/lib/db/index.ts
  server/data-store/src/lib/firebaseClient/index.ts
  server/data-store/src/schema/index.ts
  server/data-store/src/types/folktale/index.d.ts
  server/data-store/tsconfig.json
Labels: RELEASE THE KRAKEN!, data-store

#50 Feature/quasar ui test
  client/babel.config.js
  client/nightwatch.json
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/src/App.vue
  client/src/api/auth/index.js
  client/src/assets/logo.png
  client/src/components/HelloWorld.vue
  client/src/components/LoginModal.vue
  client/src/components/SignupModal.vue
  client/src/layouts/Default.vue
  client/src/main.js
  client/src/quasar.js
  client/src/router.js
  client/src/styles/quasar.styl
  client/src/styles/quasar.variables.styl
  client/src/utils/auth.js
  client/src/views/About.vue
  client/src/views/Home.vue
  client/tests/login-test.js
  client/vue.config.js
Labels: client

#53 Add firebase.json to fix deploy issue
  client/firebase.json
Labels: client

#54 Feature/change pr template test section
  .github/PULL_REQUEST_TEMPLATE.md
Labels: actions

#52 Add npm audit workflow
  .github/workflows/node-audit.yml
Labels: actions

#55 Add PROJECT_PATH env to firebase deploy job
  .github/workflows/client-deploy.yml
Labels: actions

#57 Change title of app in index.html
  client/public/index.html
Labels: client

#59 Update client-deploy
  .github/workflows/client-deploy.yml
  client/.gitignore
  client/package-lock.json
  client/package.json
Labels: actions, client

#58 Fix data-store installation procedure
  server/data-store/Dockerfile
  server/data-store/package.json
  server/data-store/tsconfig.json
Labels: data-store

#60 Fix data-store deploy
  .github/workflows/data-store-deploy.yml
Labels: actions

#61 Update typescript target and start script
  server/data-store/package.json
  server/data-store/tsconfig.json
Labels: data-store

#62 Add Refreshtoken
  server/data-store/src/lib/auth/index.ts
  server/data-store/src/schema/index.ts
Labels: data-store

#65 Add interval argument to watering schdule
  server/data-store/src/lib/db/index.ts
  server/data-store/src/schema/index.ts
Labels: data-store

#64 Feature/refresh url
  .github/workflows/data-store-deploy.yml
  server/data-store/Dockerfile
  server/data-store/app.yaml
  server/data-store/package-lock.json
  server/data-store/package.json
  server/data-store/src/index.ts
  server/data-store/src/lib/auth/index.ts
Labels: actions, data-store
