Repository Kalk88/GrowBud, pull requests merged in 2019-12, with the labels that each got.

#69 Add function for removing watering schedule
  server/data-store/src/lib/db/index.ts
  server/data-store/src/schema/index.ts
Labels: data-store

#68 Fix refreshroute not parsing cookie
  server/data-store/package-lock.json
  server/data-store/package.json
  server/data-store/src/index.ts
  server/data-store/src/lib/auth/index.ts
Labels: data-store

#70 Add simple request logging
  server/data-store/src/index.ts
Labels: data-store

#71 Add jest test framework
  server/data-store/package-lock.json
  server/data-store/package.json
Labels: data-store

#72 Feature/replace firebase lib
  server/data-store/package-lock.json
  server/data-store/package.json
  server/data-store/src/lib/auth/index.ts
  server/data-store/src/lib/db/index.ts
  server/data-store/src/lib/firebaseClient/index.ts
  server/data-store/src/schema/index.ts
  server/data-store/tsconfig.json
Labels: data-store

#67 Add jwt to vuex store on login
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/src/api/auth/index.js
  client/src/components/LoggedinToolbar.vue
  client/src/components/LoggedoutToolbar.vue
  client/src/components/LoginModal.vue
  client/src/layouts/Default.vue
  client/src/main.js
  client/src/store.js
Labels: client

#74 Change headers to better reflect that they are headers
  .github/PULL_REQUEST_TEMPLATE.md
Labels: actions

#66 Add components for wateringschedule
  client/src/components/IncrementerButton.vue
  client/src/router.js
  client/src/views/AddWateringSchedule.vue
Labels: client

#76 Refactor registration flow
  server/data-store/src/lib/auth/index.ts
  server/data-store/src/schema/index.ts
Labels: data-store

#79 White list development domains and allow creds
  server/data-store/src/index.ts
Labels: data-store

#80 Feature/schedule for multiple plants
  server/data-store/src/lib/db/index.ts
  server/data-store/src/schema/index.ts
Labels: data-store

#78 Feature/wateringschedule ui add functionality to components
  client/src/api/wateringschedule/index.js
  client/src/components/IncrementerButton.vue
  client/src/main.js
  client/src/store.js
  client/src/views/AddWateringSchedule.vue
  server/data-store/.gitignore
  server/data-store/Dockerfile
Labels: client, data-store

#81 Change which folder should be uploaded to firebase
  client/firebase.json
Labels: client

#82 Add navbar for loggedin user
  client/src/components/LoggedinToolbar.vue
  client/src/router.js
  client/src/views/MyWateringSchedules.vue
Labels: client
