Repository Kalk88/GrowBud, pull requests merged in 2020-04, with the labels that each got.

#156 fix: 🐛 Wait till store is initialized before calling graphql
  client/src/main.js
  client/src/store.js
  client/src/views/AddWateringSchedule.vue
  client/src/views/MyWateringSchedules.vue
Labels: client

#159 feat: 🎸 Reduce heavy usage of dark color
  client/src/components/LoginModal.vue
  client/src/components/SignupModal.vue
  client/src/components/Toolbar.vue
  client/src/scss/globals.scss
  client/src/scss/variables.scss
Labels: client

#166 chore: 🤖 run ci job node 10
  .github/workflows/data-store-ci.yml
Labels: actions

#165 chore: 🤖 track server package-lock.json files
  server/data-store/package-lock.json
  server/functions/package-lock.json
  server/notifications/package-lock.json
Labels: data-store

#164 chore: 🤖 Move types dependencies for some libs to dev deps
  server/data-store/package.json
Labels: data-store

#169 feat: 🎸 Align behaviour and color of buttons in the app
  client/src/components/AuthButtonsAndModals.vue
  client/src/components/IncrementerButton.vue
  client/src/components/MyWateringScheduleCard.vue
  client/src/components/Toolbar.vue
  client/src/scss/globals.scss
  client/src/scss/variables.scss
  client/src/views/AddWateringSchedule.vue
  client/src/views/MyWateringSchedules.vue
Labels: client
