Repository Kalk88/GrowBud, pull requests merged in 2020-02, with the labels that each got.

#99 Quasar is dead
  client/.firebaserc
  client/babel.config.js
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/App.vue
  client/src/components/IncrementerButton.vue
  client/src/components/LoggedinToolbar.vue
  client/src/components/LoggedoutToolbar.vue
  client/src/components/LoginModal.vue
  client/src/components/MyWateringScheduleCard.vue
  client/src/components/SignupModal.vue
  client/src/components/TimePicker.vue
  client/src/layouts/Default.vue
  client/src/main.js
  client/src/quasar.js
  client/src/router.js
  client/src/scss/globals.scss
  client/src/scss/variables.scss
  client/src/styles/quasar.styl
  client/src/styles/quasar.variables.styl
  client/src/views/AddWateringSchedule.vue
  client/vue.config.js
  package-lock.json
Labels: client

#104 feat: make data-store commitizen friendly
  server/data-store/package-lock.json
  server/data-store/package.json
Labels: data-store

#110 feat: 🎸 Trigger watering schedules notifications
  .github/workflows/trigger-schedules.yml
Labels: actions

#109 ci: 🎡 Check node v10 in npm audit
  .github/workflows/node-audit.yml
Labels: actions

#108 docs: ✏️ Update documentation for interval
  server/data-store/src/schema/index.ts
Labels: data-store

#101 Fix watering schedule double read
  server/data-store/src/lib/wateringSchedules/index.ts
  server/data-store/src/schema/index.ts
Labels: data-store

#97 register push notification token
  server/data-store/src/lib/pushNotifcationToken/index.ts
  server/data-store/src/schema/index.ts
Labels: data-store

#112 Add snackbar notification on schedule mutation
  client/src/App.vue
  client/src/views/AddWateringSchedule.vue
  client/src/views/MyWateringSchedules.vue
Labels: client

#115 improvement(logging): improve logging of incomming requests
  server/data-store/package-lock.json
  server/data-store/package.json
  server/data-store/src/index.ts
  server/data-store/src/logging/index.ts
  server/data-store/src/schema/index.ts
Labels: data-store

#119 chore: 🤖 Move nightwatch to dev dependencies
  client/package-lock.json
  client/package.json
Labels: client

#117 Add scrollIntoView for the chosen time in timepicker
  client/src/components/TimePicker.vue
Labels: client

#116 Add validation to wateringSchedule
  client/src/scss/globals.scss
  client/src/scss/variables.scss
  client/src/views/AddWateringSchedule.vue
  client/vue.config.js
Labels: client

#121 refactor: 💡 Move firebase service worker to public folder
  client/public/firebase-messaging-sw.js
  client/src/registerServiceWorker.js
  client/vue.config.js
Labels: client

#125 ci: deploy to master on merge
  .github/workflows/client-deploy.yml
Labels: actions

#122 feat: 🎸 add sw for offline caching
  client/src/registerServiceWorker.js
  client/src/sw.js
  client/vue.config.js
Labels: client

#129 fix(index): circular stringify error
  server/data-store/src/index.ts
Labels: data-store

#130 fix(error handling): catch token decode errors
  server/data-store/src/lib/auth/index.ts
  server/data-store/src/schema/index.ts
Labels: data-store

#126 feat: 🎸 Update schedules
  server/cloud-functions/.firebaserc
  server/cloud-functions/.gitignore
  server/cloud-functions/firebase.json
  server/cloud-functions/functions/.gitignore
  server/cloud-functions/functions/package.json
  server/cloud-functions/functions/src/index.ts
  server/cloud-functions/functions/tsconfig.json
  server/cloud-functions/functions/tslint.json
Labels: cloud-functions
