Repository Kalk88/GrowBud, pull requests merged in 2020-01, with the labels that each got.

#85 Update where whitelist config is read from
  server/data-store/app.yaml
  server/data-store/src/.env.example
  server/data-store/src/index.ts
Labels: data-store

#84 Only show graphiql of env is development
  server/data-store/src/index.ts
Labels: data-store

#87 Add support for sass/scss
  client/package-lock.json
  client/package.json
  client/src/vue.config.js
Labels: client

#86 Feature/verify token
  server/data-store/src/lib/auth/index.ts
  server/data-store/src/schema/index.ts
  server/data-store/tsconfig.json
Labels: data-store

#88 Add graphql mutation for updating existing schedule.
  server/data-store/src/lib/db/index.ts
  server/data-store/src/schema/index.ts
Labels: data-store

#89 Feature/jwt persist login
  client/src/api/auth/index.js
  client/src/main.js
  client/src/store.js
Labels: client

#90 Change variable that checks if routing is allowed
  client/src/router.js
Labels: client

#93 Refactor refreshToken function
  server/data-store/src/lib/auth/index.ts
Labels: data-store

#94 Refactor login function
  server/data-store/src/lib/auth/index.ts
Labels: data-store

#92 Remove userId from gql functions
  client/src/api/wateringschedule/index.js
  client/src/views/AddWateringSchedule.vue
  client/src/views/MyWateringSchedules.vue
  server/data-store/src/schema/index.ts
Labels: client, data-store

#95 Fix displaying blank page when refreshing webpage
  client/src/router.js
  client/src/store.js
  client/src/views/MyWateringSchedules.vue
Labels: client

#96 Rename db folder
  server/data-store/src/lib/wateringSchedules/index.ts
  server/data-store/src/schema/index.ts
Labels: data-store

#98 Fix access control allow origin header
  server/data-store/app.yaml
  server/data-store/src/index.ts
Labels: data-store

#77 Install vue PWA plugin
  client/package-lock.json
  client/package.json
  client/public/img/icons/android-chrome-192x192.png
  client/public/img/icons/android-chrome-512x512.png
  client/public/img/icons/apple-touch-icon-120x120.png
  client/public/img/icons/apple-touch-icon-152x152.png
  client/public/img/icons/apple-touch-icon-180x180.png
  client/public/img/icons/apple-touch-icon-60x60.png
  client/public/img/icons/apple-touch-icon-76x76.png
  client/public/img/icons/apple-touch-icon.png
  client/public/img/icons/favicon-16x16.png
  client/public/img/icons/favicon-32x32.png
  client/public/img/icons/msapplication-icon-144x144.png
  client/public/img/icons/mstile-150x150.png
  client/public/img/icons/safari-pinned-tab.svg
  client/public/robots.txt
  client/src/api/notifications/index.js
  client/src/firebase-messaging-sw.js
  client/src/main.js
  client/src/registerServiceWorker.js
  client/src/utils/auth.js
  client/src/vue.config.js
  client/vue.config.js
  package-lock.json
Labels: client
