Repository Kalk88/GrowBud, pull requests merged in 2020-03, with the labels that each got.

#128 feat: 🎸 update client pwa name, start_url and display
  client/vue.config.js
Labels: client

#123 feat: 🎸 Register device token on messaging getToken
  client/src/api/notifications/index.js
  client/src/components/LoginModal.vue
  client/src/main.js
  server/data-store/src/index.ts
  server/data-store/src/lib/auth/index.ts
  server/data-store/src/lib/http/index.ts
  server/data-store/src/schema/index.ts
Labels: client, data-store

#132 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: actions

#134 feat: 🎸 add remove schedule button in updatewateringschedule vy
  client/src/api/wateringschedule/index.js
  client/src/views/AddWateringSchedule.vue
Labels: client

#135 Update client-deploy.yml
  .github/workflows/client-deploy.yml
Labels: actions

#136 feat: 🎸 login on enter
  client/src/components/LoginModal.vue
Labels: client

#131 feat: devicetoken lifecycle
  documentation/API/api.yaml
  server/data-store/express-helpers.ts
  server/data-store/src/deviceTokens/index.ts
  server/data-store/src/deviceTokens/route.ts
  server/data-store/src/index.ts
  server/data-store/src/lib/pushNotifcationToken/index.ts
  server/data-store/src/lib/pushNotificationToken/index.ts
Labels: data-store, documentation

#133 feat: push schedule notice
  server/cloud-functions/functions/package.json
  server/cloud-functions/functions/src/index.ts
  server/cloud-functions/functions/tsconfig.json
Labels: cloud-functions

#137 feat: 🎸 display title and text sent from notification
  client/public/firebase-messaging-sw.js
Labels: client

#140 fix: 🐛 Missing module that didnt get copied to docker container
  server/data-store/Dockerfile
Labels: data-store

#143 feat: 🎸 Fancy new color scheme suited for 2020 (Gradients Rule)
  client/public/index.html
  client/src/App.vue
  client/src/components/LoggedinToolbar.vue
  client/src/components/LoggedoutToolbar.vue
  client/src/scss/variables.scss
  client/src/views/AddWateringSchedule.vue
Labels: client

#144 style: 💄 redesign addwateringschedule view as mobile first
  client/src/App.vue
  client/src/components/IncrementerButton.vue
  client/src/components/LoggedinToolbar.vue
  client/src/components/LoggedoutToolbar.vue
  client/src/components/TimePicker.vue
  client/src/scss/globals.scss
  client/src/scss/variables.scss
  client/src/views/AddWateringSchedule.vue
Labels: client

#147 Feat/new home screen
  client/public/index.html
  client/src/App.vue
  client/src/api/wateringschedule/index.js
  client/src/components/AuthButtonsAndModals.vue
  client/src/components/LoggedinToolbar.vue
  client/src/components/LoggedoutToolbar.vue
  client/src/components/LoginModal.vue
  client/src/components/MyWateringScheduleCard.vue
  client/src/components/SignupModal.vue
  client/src/components/Toolbar.vue
  client/src/scss/globals.scss
  client/src/scss/variables.scss
  client/src/views/AddWateringSchedule.vue
  client/src/views/Home.vue
  client/src/views/MyWateringSchedules.vue
Labels: client

#148 style: 💄 Adding missing styling for authbuttons
  client/src/components/AuthButtonsAndModals.vue
Labels: client

#149 feat: 🎸 first mobile desing of auth modals v1
  client/public/index.html
  client/src/components/AuthButtonsAndModals.vue
  client/src/components/LoginModal.vue
  client/src/components/MyWateringScheduleCard.vue
  client/src/components/SignupModal.vue
  client/src/components/TimePicker.vue
  client/src/components/Toolbar.vue
  client/src/scss/globals.scss
  client/src/scss/variables.scss
  client/src/views/AddWateringSchedule.vue
  server/data-store/growbud-developer.app.yaml
Labels: client, data-store

#151 fix: 🐛 Deploy to data-store on merge
  .github/workflows/data-store-deploy.yml
  server/data-store/example.app.yaml
Labels: actions, data-store

#150 Delete growbud-developer.app.yaml
  server/data-store/growbud-developer.app.yaml
Labels: data-store

#155 feat: 🎸 Add profile view with allownotifications button
  client/src/api/auth/index.js
  client/src/components/LoginModal.vue
  client/src/components/Toolbar.vue
  client/src/main.js
  client/src/router.js
  client/src/scss/globals.scss
  client/src/views/Profile.vue
Labels: client
